*{
    box-sizing: border-box;
}
:root{
    --primary-color:#ff5b2e;
}
html{
    font-size: 62.5%;

}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}
/* common */
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Sora", sans-serif;
}
input,textarea,select,button{
    font-size: inherit;
    font-family: inherit;
}
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin:0 auto;
}
.section__heading{
    color: #000958;
    font-family: Sora,sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}
.section__desc{
    color: #656689;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    font-size: 1.6rem;
}
.btn{
    --height:56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height:var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgb(0,9,88,0.7);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all .5s;
}
.btn:hover{
    color:#fff;
    background:#FF997E;
    border-color: #FF997E;   
    cursor: pointer;
}
.btn--primary{
    color:#fff !important; 
    background-color: var(--primary-color) !important; 
    border-color:var(--primary-color) !important; 
}
.btn__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.40);
}
/* header */

.header{
padding: 26px 0;
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.logo-inner{
    display: flex;
    align-items: center;
    column-gap: 10px;
    }
.logo-suathoi{
    color: #222774;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}
.navbar__list{
    display: flex;
}
.navbar__link,
.header-action__link{
    padding: 8px 16px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    }
.header-action__btn{
    --height:50px;
    min-width: 117px;
}
.navbar__link:hover{
    text-shadow: 0.1px 0 0 currentColor ;
    color: #000958;
} 
/* hero */
.hero{
    margin-top: 74px;
    margin-bottom: 171px;
}
.hero__inner{
    display: flex;
    align-items: center;
    justify-content:space-between;
    column-gap: 282px;
}
.hero__media{
    display: flex;
    position: relative;
}
.hero__img-wrap{
    position: relative;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border:3px solid #fff;
}
.hero__img{
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__decor{
    position: absolute;
    z-index: -1;

}
.hero__decor-left{
    bottom:10px;
    left:-58px;

}
.hero__decor-right{
    top:17px;
    right:-40px;
}
.hero__img-wrap-small{
    position: absolute;
    right:-40%;
    bottom: -8%;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #FAA7AD;
}

.hero__list{
    position: absolute;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    right: 3%;
    bottom: -20%;
}
.hero-list-item{
    display: flex;

}
.hero-list-item:first-of-type{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom:2px solid #F2F2F2;
}
.hero-list-item__thumb{
    width: 40px;
    height: 40px;
    border-radius:10px;
    object-fit: cover;
    background: #FEC23F;
}
.hero-list-item__title{
    font-family: Sora,sans-serif;
    color: #181E52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */}
.hero-list-item__info{
    margin-left: 10px;
}
.hero-list-item__skeleton{
    width:var(--width,118px);
    height: 4px;
    margin-top: 6px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #c6e2fa
}
.hero__heading{
    font-size: 6.6rem;
    font-weight: 800;
    width: 517px;
    line-height: 1.15; /* 115.152% */}
.hero__desc{
    margin-top: 24px;
    width: 391px;

}
.hero__row{
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.hero__cta-btn{
    --height:60px;
    font-size: 1.6rem;
    min-width: 190px;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta-link{
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration: underline;
}
/* About */


.about{
    margin-top: 77px;
    padding-bottom: 185px;
}
.about__inner{
    padding-top: 53px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap:146px;
}
.about__media{
    position: relative;
}
/* about content 1 */
.about__label{
    color: #5E6085;
    font-family: Sora,sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.about__heading{
    width: 446px;
    margin-top: 15px;
}
.about__desc{
    margin-top: 24px;
    width: 431px;
    font-size: 1.6rem;
}
.about__checklist{
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: flex-start;
    gap:36px;
}
.about__check-item{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.about__check-item::before{
    display:inline-block;
    content:"";
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #FF5D31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__check-item::after{
    position: absolute;
    content:url(../icons/icon-check.svg);
    top:2px;
    left:5px;
}
/* about media */
.about__card{
    position: absolute;
    top: 165px;
    left: 0;
    padding: 30px 26px;
    width: 136px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
    text-align: center;
}
.about__card-title{
    color: #FFF;
    font-family: Sora,sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}
.about__card-desc{
    margin-top: 14px;
    color: #C6F4F9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}
.about__card-decor{
    position: absolute;
    top: -40px;
    right: -32px;
}

.about__img-wrap{
    width: 494px;
    position: relative;
    margin-left:auto;
}
.about__img-wrap::after{
    position: absolute;
    inset:auto 0 0 0;
    content:"";
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    z-index: -1;

}
.about__img{
    width: 450px;
    display: block;
    margin:0 auto;
}
.about__media-decor{
    position: absolute;
    top:157px;
    right:-50px;
    z-index: -1;
}
/* about media 2*/ 
.about__img-wrap-bottom{
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.about__img-wrap-bottom::after{
    content:none;
}
.about__img-bottom{
    width: 100%;
    image-rendering: auto;
}
.about__decor-img{
    position: absolute;
}
.about__decor-img:nth-child(1){
    top: 13px;
    right: 64px;
}
.about__decor-img:nth-child(2){
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3){
    top: 33px;
    right: -21px;
}
.about__decor-img:nth-child(4){
    top: 268px;
    right: -33px;
}
.about__decor-img:nth-child(5){
    top: 336px;
    right: 19px;
}
.about__decor-img:nth-child(6){
    bottom: -45px;
    right: -31px;
}
.about__decor-img:nth-child(7){
    bottom: -55px;
    right: -43px;
}
.about__decor-img:nth-child(8){
    bottom: -66px;
    right: -51px;
}
/* about content 2*/

.about__desc-bottom{
    margin: 24px 0 50px;
    width: 511px;
}
.tab__list{
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}
.tab__list::after,
.tab__item--active::after{
    position: absolute;
    content:"";
    height: 2px;
    border-radius: 1px;
    opacity: 0.07;
    background: #FF5B2E;
    bottom:0;
    left: 0;
    right: 0;

}
.tab__item--active::after{
    width: 95px;
    opacity: 1;
}
.tab__item{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;

}
.tab__icon{
    width: 20px;
}
.tab__title{
    color: #48496A;
    font-family: Sora,sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.tab__contents{
    padding-top: 36px;
}
.tab__content-item{
    display: none;
}
.tab__content-item--active{
    display: block;
}
.tab__content-desc{
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    padding-bottom: 32px;
}
.tab__content-more{
    position: relative;
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    }
.tab__content-more::after{
    position: absolute;
    content:"";
    height: 1.5px;
    background: #FF5D31;
    border-radius: 999px;
    bottom: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* service */
.service{
    background:#fff6ed;
    padding: 68px 0 100px;

}
.service__top{
    text-align: center;
}
.service__top-desc{
    color: #5E6085;
    text-align: center;
    font-family: Sora,sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-bottom: 15px;
}
.service__body{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 65px;
    column-gap:70px;
}
.service-item{
    padding: 30px 22px 30px 28px ;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
    
}
.service-item + .service-item{
    margin-top: 24px;
}
.service-item__heading{
    position: relative;
    color: #000958;
    font-family: Sora,sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    padding-left: 12px;
}
.service-item__heading::before{
    position: absolute;
    inset:0 auto 0 0;
    content:"";
    display: inline-block;
    width: 2px;
    border-radius:1px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);

}
.service-item__desc{
    color: #656689;
    margin-top: 18px;
    margin-bottom: 24px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */}
.service-item__action{
    display: flex;
    align-items: center;
    column-gap:6px;
}
.service-item__more{
    color: #34396A;
    font-family: Sora,sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */

    }
.service__media{
    margin-top: 18px;
    position: relative;
}
.service__img{
    position: relative;
    z-index: 1;
    width: 100%;
    display: block;
    
}
.service__media::after{
    position: absolute;
    content:"";
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
    z-index:0;
}
.service__cta-wrap{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.service__cta{
    color: #FF5B2E;
    min-width: 214px;
    border: 1px solid #FF5B2E;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* staff */
.staff{
    background: #FFFAF5;
    padding: 130px 0;
}
.staff__desc{
    color: #5E6085;
    text-align: center;
    font-family: Sora,sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.staff__heading{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 60px;
}
.staff__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 35px;
}
.staff-item__img-wrap{
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.staff-item__img-wrap::before{
    content:"";
    position: absolute;
    content:"";
    inset:auto 0 0 0;
    height: 94%;
    border-radius: 129.5px;
    
}
.staff-item__img-wrap::after{
    content:"";
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100%;
}
.staff-item:nth-child(1) .staff-item__img-wrap::before{
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}
.staff-item:nth-child(1) .staff-item__img-wrap::after{
    background-image:url(../img/img-staff-decor01.svg);
    bottom: 0;
}
.staff-item:nth-child(2) .staff-item__img-wrap::before{
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after{
    background-image:url(../img/img-staff-decor02.svg);
    bottom: 0;
    background-position: 0 16px;
}
.staff-item:nth-child(3) .staff-item__img-wrap::before{
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%)   
}
.staff-item:nth-child(3) .staff-item__img-wrap::after{
    background-image:url(../img/img-staff-decor03.svg);
    bottom: 0;

}
.staff-item:nth-child(4) .staff-item__img-wrap::before{
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after{
    background-image:url(../img/img-staff-decor04.svg);
    bottom: 0;
    background-position: 0 16px;
}
.staff-item__img{
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
    border-radius: inherit;
}
.staff-item__title{
    color: #656689;
    text-align: center;
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.staff-item__name{
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-family: Sora,sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.staff__cta-wrap{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.staff__cta{
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
    min-width: 193px;
    border-radius: 31px;
    border: 1px solid rgb(255,91,46,0.6);
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* pricing */
.pricing{
    background: #FFF6ED;
    padding: 86px 0;
}
.pricing__container{
    width: 994px;
}
.pricing__heading,
.pricing__desc{
    text-align: center;
}
.pricing__desc{
    width: 709px;
    margin : 24px auto 38px;
}
.pricing__switch-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing__switch-label{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    min-width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid rgb(255, 91, 46,0.6);
    user-select: none;
    cursor: pointer;
}
.pricing__switch-value{
    position:relative;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    z-index: 1;

}
.pricing__switch-label::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 140px;
    height: 100%;
    border-radius: inherit;
    background: #FF5B2E;

}
.pricing__switch-input:checked + .pricing__switch-label::after{
    left:auto;
    right: 0;
    width: 131px;
}
.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-child(2),
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-child(1) {
    color: #FF5B2E;
}
.spicing__switch-inner{
    position: relative;
}
.pricing__sale-off{
    height: auto;
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list{
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:44px ;
}
.pricing-item{
    padding: 30px 28px;
    border-radius: 20px;
    background: #FFF;
}
.pricing-item__active{
    box-shadow: 0 20px 44px 0 rgba(195, 108, 22, 0.06);
}
.pricing-item__title{
    color: #FF5B2E;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.pricing-item__heading{
    margin-top: 8px;
    color: #3F4065;
    font-family: Sora,sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.pricing-item__price{
    margin-top: 24px;
    color: #000958;
    font-family: Sora,sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1; /* 103.03% */
}
.pricing-item__btn{
    margin-top: 22px;
    margin-bottom: 24px;
    width: 100%;
    --height:44px;
    color: #FF5B2E;
    text-align: center;
    font-weight: 500;
    border-radius: 999px;
    background: #fff;
    border: 1px solid rgba(255, 91, 46, 0.60);
}
.pricing-item__item{
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.pricing-item__item + .pricing-item__item{
    margin-top: 18px;
}
.pricing-item__item::before{
    content:url(../icons/pricing-check.svg);
}

/* review */
.review{
    padding: 53px 0;
    background: #FFFAF5;
}
.review__inner{
    display: flex;
    align-items: center;
    column-gap:44px;
}
.review__control{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 999px;
    border: 1.5px solid #FFD1C4;
    color:#FF5B2E;
    background:transparent;
}
.review__control:nth-of-type(2){
    margin-left: auto;
}
.review__control:hover{
    color:#fff;
    background:#FF5B2E;
    border-color:#FF5B2E;
    cursor: pointer;
}
.review__content{
    overflow: hidden;
}
.review__list{
    display: flex;
}
.review-item{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 115px;
    flex-shrink: 0;
    width: 100%;
}
.review-item__media{
    position: relative;
    width: 274px;
    flex-shrink: 0;
    border-radius: 137px;

}
.review-item__content{
    margin-top: 52px;
}
.review-item__media::after{
    position: absolute;
    content:"";
    border-radius: inherit;
    background: #FFDA54;
    inset:auto 0 0 0;
    height: 80%;
}
.review-item__img{
    display: block;
    position: relative;
    width: 100%;
    border-radius: inherit;
    z-index: 1;
}
.review-item__quote{
    width: 553px;
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
}
.review-item__author{
    display: flex;
    align-items: center;
    column-gap:8px;
    margin-top: 34px;
    color: #282828;
    font-family: Sora,sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.review-item__author::before{
    display: inline-block;
    content:"";
    width: 20px;
    height: 2px;
    border-radius: 999px;
    background: #000;
}
.review__dots{
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.review__dot{
    width: 8px;
    height: 8px;
    border-radius: 99px;
    border: 1px solid #FF5B2E;
}
.review__dot-active{
    width: 24px;
    background: #FF5B2E;
}
.review__dot:hover{
    background:#FF5B2E;
    cursor: pointer;
}

/* blog */
.blog{
    padding: 78px 0 130px;
}
.blog__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__top-wrap{
    width: 350px;
    margin-right: 74px;
}
.blog__cta{
    min-width: 182px;
    border: 1px solid rgb(255, 91, 46,0.6);
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #FF5B2E;
    text-align: center;
}
.blog__list{
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:48px;
}
.blog-item__img{
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
    display: block;
}
.blog-item__media{
    border-radius: 24px;
    background: #90CCFF;
    padding: 24px 0 0 36px;

}
.blog-item:nth-child(2) .blog-item__media{
    background:#FF997E;
}
.blog-item:nth-child(3) .blog-item__media{
    background:#5BD6E2;
}
.blog-item__time{
    color: #FFF;
    font-family: Sora,sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21; /* 121.429% */
}
.blog-item__info{
    margin-top: 28px;
    padding-right: 6px;
}
.blog-item__title{
    color: #000958;
    font-family: Sora,sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54; /* 154.545% */
}
.blog-item__desc{
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}
/* footer */
.footer{
    margin-top: 52px;
    /* padding: 52px 0 48px; */
    background:linear-gradient(to right ,#FFF6ED 42%,#FFFAF5 42%)
}
.footer__inner{
    display: flex;
    align-items: center;

}
/* footer left */
.footer__left{
    width: 42%;
}
.subscribe-form{
    margin: 34px 0 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 999px;
    border: 1px solid hwb(13 18% 0% / 0.25);
    background: #FFF;
    width: 268px;
    height: 46px;
}
.subscribe-form__input{
    width: 100%;
    height: 100%;
    padding: 0 22px;
    border:none;
    outline: none;
    border-radius: 999px;
    font-size: 1.4rem;
    font-weight: 300;
}
.subscribe-form__input::placeholder{
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16; /* 116.667% */
    opacity: 0.6;
}
.subscribe-form__submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 46px;
    margin-right: -1px;
    border-radius: 50%;
    background: #FF5B2E;
    box-shadow: 0 15px 28px -7px rgba(255, 91, 46, 0.30);
    flex-shrink: 0;
    border:none;
    outline: none;
}
.subscribe-form__submit:hover{
    opacity: 0.9;
    cursor: pointer;
}
.footer__heading{
    color: #000958;
    font-family: Sora,sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11; /* 111.111% */
    margin-bottom: 16px;
}
.social-list{
    display: flex;
}
.social-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background:#fff;
    border-radius: 999px;
    border: 1px solid #FFF;
    box-shadow: 0 16px 28px -10px rgba(211, 132, 53, 0.33);
    margin-right: 16px;
}
.social-item:hover{
    opacity: 0.8;
}
/* footer right */
.footer__right-row{
    padding: 52px 0 52px 129px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:90px;
    row-gap:58px;
}
.footer__heading{
    margin-bottom: 14px;
    color: #000958;
    font-family: Sora,sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11; /* 111.111% */
}

.footer__info-item{
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2; /* 200% */
}
.footer__info-item:hover{
    text-decoration: underline;
}
.copy__right{
    margin: 0 0 48px 22px;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.16; /* 116.667% */
}